* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-ul , .footer-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 7vh;
  background-color: rgb(244, 160, 177);
}